.dark {
  font-weight: 400;
  overflow-y: scroll;
  flex-direction: column;
  background-image: url(https://i.postimg.cc/N0wc7FMN/dark.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
